{# Simple search form, remove from search index #}
{# <form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> #}

<a href="/" class="top-logo" id="logo">
  {# <img src="{{ cms.waffles.logo_middle.url }}" alt=""> #}
  {% include "templates/partials/logo.html" %}
</a>

<a href="#" class="nav-trigger" id="nav_trigger">
  <span></span>
</a>


<nav class="nav" id="nav">

  <div class="nav__bio">
    <small>
      {{ cms.sidebar.bio|markdown|safe }}
    </small>
  </div>

</nav>