<div class="waffle">
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/2')">
        <img src="http://lorempixel.com/400/200/abstract/2" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/3')">
        <img src="http://lorempixel.com/400/200/abstract/3" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/4')">
        <img src="http://lorempixel.com/400/200/abstract/4" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/7')">
        <img src="http://lorempixel.com/400/200/abstract/7" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <div class="square square--blank">

    </div>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/8')">
        <img src="http://lorempixel.com/400/200/abstract/8" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/2')">
        <img src="http://lorempixel.com/400/200/abstract/2" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/3')">
        <img src="http://lorempixel.com/400/200/abstract/3" alt="">
      </div>
    </a>
  </div>
  <div class="waffle__square">
    <a href="/posts" class="square">
      <div class="square__thumb" style="background-color: #477DCA">
        <img src="http://lorempixel.com/400/200/abstract/4" alt="">
      </div>
    </a>
  </div>
</div>