<div class="waffle">
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/1')">
        <img src="http://lorempixel.com/400/200/abstract/1" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/2')">
        <img src="http://lorempixel.com/400/200/abstract/2" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/3')">
        <img src="http://lorempixel.com/400/200/abstract/3" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/4')">
        <img src="http://lorempixel.com/400/200/abstract/4" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/5')">
        <img src="http://lorempixel.com/400/200/abstract/5" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/6')">
        <img src="http://lorempixel.com/400/200/abstract/6" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/7')">
        <img src="http://lorempixel.com/400/200/abstract/7" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square square--center">

    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/8')">
        <img src="http://lorempixel.com/400/200/abstract/8" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/9')">
        <img src="http://lorempixel.com/400/200/abstract/9" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/1')">
        <img src="http://lorempixel.com/400/200/abstract/1" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/2')">
        <img src="http://lorempixel.com/400/200/abstract/2" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/3')">
        <img src="http://lorempixel.com/400/200/abstract/3" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/4')">
        <img src="http://lorempixel.com/400/200/abstract/4" alt="">
      </div>
    </div>
  </div>
  <div class="waffle__square">
    <div class="square">
      <div class="square__thumb" style="background-image: url('http://lorempixel.com/400/200/abstract/5')">
        <img src="http://lorempixel.com/400/200/abstract/5" alt="">
      </div>
    </div>
  </div>
</div>