{% extends "templates/partials/base.html" %}

{% block title %}{% if item.custom_title %}{{ item.custom_title }}{% else %}{{ item.name }}{% endif %} &mdash; {% parent %}{% endblock %}
{% block description %}{% if item.subtitle %}{{ item.subtitle }}{% endif %}{% if item.subtitle and item.date %} &mdash; {% endif %}{% if item.date %}{{ item.date|date('F Y') }}{% endif %}{% endblock %}
{% block og_image %}{{ item.feature_image|imageCrop(1200, 630) }}{% endblock %}

{% block body_attributes %}{% parent %} page--photo-post{% endblock %}

{% block hero %}

{% set feature = item %}
{% include "templates/partials/hero.html" %}

{% endblock hero %}

{% block content %}

<section class="container post-section post-title post-title--top">
  <div class="post-title__text no-line">
    <h6>{% if item.subtitle %}{{ item.subtitle }}{% endif %}{% if item.subtitle and item.date %} &mdash; {% endif %}{% if item.date %}{{ item.date|date('F Y') }}{% endif %}</h6>
  </div>
</section>
{#   <section class="container post-audio">
  <iframe id="sc-widget" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ item.soundcloud }}&show_artwork=false&show_comments=false&show_playcount=false&download=false&sharing=false&buying=false"></iframe>
</section> #}
{# auto_play=false&buying=false&liking=false&download=false&sharing=false&show_artwork=false&show_comments=false&show_playcount=false&show_user=false&hide_related=false&visual=false&start_track=0&callback=true #}
<article class="post-content">
  {% for row in item.row %}
    {% if row.title and row.show_title %}
      <section class="container post-section post-title">
        <div class="post-title__text">
          <h6>{{ row.title }}</h6>
        </div>
      </section>
    {% endif %}
    {% if row.text and row.text_position == 'Above' %}
      <section class="container post-section post-text">
        {{ row.text|markdown }}
      </section>
    {% endif %}
    {% if row.images %}
      <section class="container post-section post-gallery">
        {% if row.gifs %}
          <div class="post-gallery__gifs">
            {% for image in row.images %}
              {% set image_ratio = image.height / image.width * 100 %}
              <figure class="post-gallery__item post-gallery__item--gif">
                <a class="lazy-image"
                   href="{{ image|imageSize(310, 'auto') }}"
                   style="padding-bottom: {{ image_ratio }}%">
                  <div class="image-thumb--blurred">
                    <img src="{{ image|imageSize(50, 'auto') }}">
                  </div>
                  <img class="image-thumb lazyload"
                       data-src="{{ image|imageSize(310, 'auto') }}">
                </a>
              </figure>
            {% endfor %}
          </div>
        {% else %}
          <div itemscope itemtype="http://schema.org/ImageGallery" class="post-gallery__items">
            {% for image in row.images %}
              {% set image_ratio = image.height / image.width * 100 %}
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="post-gallery__item{% if [image.width / 2] > image.height %} post-gallery__item--pano{% elseif image.caption %} post-gallery__item--{{ image.caption }}{% endif %}">
                <a class="lazy-image"
                   style="padding-bottom: {{ image_ratio }}%"
                   href="{{ image|imageSize(2200, 'auto') }}"
                   abs-href="{{ site_url }}{{ image.url }}"
                   itemprop="contentUrl"
                   data-size="{{ image.width }}x{{ image.height }}">
                  {% if [image.width / 2] > image.height %}
                    <div class="image-thumb--blurred">
                      <img src="{{ image|imageSize(100, 'auto') }}">
                    </div>
                    <img class="image-thumb lazypreload"
                         data-src="{{ image|imageSize(1232, 'auto') }}"
                         data-srcset="{{ image|imageSize(616, 'auto') }} 616w,
                                      {{ image|imageSize(1232, 'auto') }} 1232w,
                                      {{ image|imageSize(2464, 'auto') }} 2464w"
                         data-sizes="auto"
                         itemprop="thumbnail"
                    />
                  {% else %}
                    <div class="image-thumb--blurred">
                      <img src="{{ image|imageSize(100, 'auto') }}">
                    </div>
                    <img class="image-thumb lazypreload"
                         data-src="{{ image|imageSize(700, 'auto') }}"
                         data-srcset="{{ image|imageSize(380, 'auto') }} 380w,
                                      {{ image|imageSize(700, 'auto') }} 700w,
                                      {{ image|imageSize(1400, 'auto') }} 1400w"
                         data-sizes="auto"
                         itemprop="thumbnail"
                    />
                  {% endif %}
                  <div class="image-loader">loading</div>
                </a>
              </figure>
            {% endfor %}
          </div>
        {% endif %}
      </section>
    {% endif %}
    {% if row.text and row.text_position == 'Below' %}
      <section class="container post-section post-text">
        {{ row.text|markdown }}
      </section>
    {% endif %}
  {% endfor %}
</article>

{% if item.notes %}
<section class="container post-section post-text post-notes">
  <small>
    {{ item.notes|markdown }}
  </small>
</section>
{% endif %}

{% if item.related_posts|first %}
  <section class="container wide post-section post-title related-posts-title">
    <div class="post-title__text">
      <h6>See More</h6>
    </div>
  </section>
  <section class="container wide post-section related-posts">
    {% for post in item.related_posts %}
      {% include "templates/partials/post-card.html" %}
    {% endfor %}
  </section>
{% endif %}

{% endblock %}

{% block overlay %}
  {% include "templates/partials/photoswipe.html" %}
{% endblock %}