.button,
button:not(.pswp__button),
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.button-back {
  border: 1px solid;
  padding: 0.25em 0.6em 0.35em;
  font-size: 0.625em;
  opacity: 0.6;
  span {
    position: relative;
    top: -1px;
  }
  @include media($phone-wide) {
    font-size: 0.75em;
    padding: 0.5em 0.75em;
  }
}