@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(940);

// Grid math
$grid-padding-desktop: 40px;
$grid-padding-tablet: 12px;
$grid-padding-phone: 6px;

// Neat Breakpoints

// Screen px (points):
// iPhone ≤ 5: 320px (portrait)
// iPhone 6: 375px (portrait), 667px (landscape)
// iPhone 6 Plus: 414px (portrait), 736px (landscape)

$desktop-wide        : new-breakpoint(min-width 1370px);
$desktop             : new-breakpoint(min-width 1001px);
$desktop-narrow      : new-breakpoint(max-width 1000px);
$desktop-narrow-only : new-breakpoint(min-width 769px max-width 1000px);
$tablet              : new-breakpoint(max-width 768px);
$tablet-only         : new-breakpoint(min-width 640px max-width 768px);
$phone-wide          : new-breakpoint(max-width 736px);
$phone-wide-only     : new-breakpoint(min-width 480px max-width 736px);
$phone               : new-breakpoint(max-width 479px);
$not-phone           : new-breakpoint(min-width 480px);
$phone-short         : new-breakpoint(max-height 375px);
$netbook-11          : new-breakpoint(max-height 600px);
$netbook-13          : new-breakpoint(max-height 790px);
$ratio-small         : new-breakpoint(min-width 1670px max-height 639px);