body {
  // overflow-x: hidden;
  background-color: $base-bg-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  @include font-smoothing;
}

h1, .h1,
h2,
h3,
h4,
h5,
h6, .h6 {
  font-family: $title-font-family;
  line-height: $header-line-height;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  // @include font-smoothing;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  &.space {margin-bottom: .2em;}
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 500;
  margin-bottom: 0.5em;
  @include media($phone-wide) {
    font-size: $h3-font-size;
  }
  @include media($phone) {
    font-size: $h4-font-size;
    letter-spacing: 0.2em;
  }
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
  color: tint($base-font-color, 20%);
  @include media($desktop-narrow) {
    font-size: $base-font-size * 0.875;
  }
  @include media($phone-wide) {
    font-size: $base-font-size * 0.75;
  }
}

p {
  font-family: $serif;
  margin: 0 0 ($base-spacing / 2);
  font-size: $reading-font-size;
  &:last-child {margin-bottom: 0;}
  @include media($phone) {
    font-size: 1.125em;
  }
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
  p & {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: -0.25em;
      background-color: $base-font-color;
      // transition: height 0.1s linear;
    }
  }
  .no-touch p &:hover {
    &:after {
      height: 2px;
    }
  }
  .link-arrows & {
    display: inline-block;
    position: relative;
    @include transition(transform 300ms);
    &:after {
      content: " →";
      position: absolute;
      left: 100%;
      opacity: 0;
      @include transform(translateX(-5px));
      @include transition(transform 300ms, opacity 300ms);
    }
    .no-touch &:hover {
      @include transform(translateX(-5px));
      &:after {
        opacity: 1;
        @include transform(translateX(5px));
      }
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

// Make images fill the width of their parent, and
// remove the decender whitespace underneath
img,
picture {
  margin: 0;
  width: 100%;
  vertical-align: bottom;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

figure {
  margin: 0;
}
