$index-content-margin : 114px;

.content-wrap {
  @include font-loading('fade-up-in');
}

.content {
  position: relative;
  background-color: $base-bg-color;
  z-index: 10;
  .page--index & {
    margin: $content-border-width $index-content-margin;
    // border-radius: 2px;
  }
  body:not(.page--index) & {
    top: $header-height;
    border: $content-border-width solid $alt-bg-color;
    border-top-width: 0;
    @include media($phone) {
      border-right-width: $content-border-width-phone;
      border-bottom-width: $content-border-width-phone;
      border-left-width: $content-border-width-phone;
    }
  }
}

.content-inner {
}

.nav-spacer {
  margin-top: ($nav-padding-desktop * 2) + $nav-logo-size-desktop;
}

.index-post {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: $index-content-margin;
    right: $index-content-margin;
    height: 2px;
    opacity: 0.1;
  }
}