// Helpers

.last {margin-right: 0 !important;}

.no-wrap {white-space: nowrap;}

.left {float: left;}

.right {float: right;}

.css-cols-3 {
  font-size: $base-font-size;
  @include column-count(3);
  @include column-width(200px);
  // @include column-gap(30px);
  // text-align: justify;
}

.text-subtle {color: rgba($base-font-color, 0.75);}

.text-center {text-align: center;}
.text-right  {text-align: right;}