.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero__image-wrap,
.hero__image-nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__image-nav-wrap {

}

.hero__image {
  @include font-loading(fade-scale-in);
  position: fixed;
  top: -10px;
  left: -10px;
  width: 104vw;
  height: 104vh;
  background-size: cover;
  background-position: center center;
}

.hero__link-wrap {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__link {
  @include font-loading(fade-in-slow, 500ms);
  a {
    display: inline-block;
    color: #fff;
    // opacity: 0.75;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.875em;
    @include font-smoothing;
    letter-spacing: 0.25em;
  }
}