.hero {
  position: relative;
  width: 100vw;
  height: calc(100vh + 1em);
}

.hero__image-wrap,
.hero__image-nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__image {
  position: fixed;
  top: -10px;
  left: -10px;
  width: 104vw;
  height: 104vh;
  background-size: cover;
  background-position: center center;
  @include lazyloaded(fade-scale-in);
  // img {
  //   height: 100%;
  //   object-fit: cover;
  // }
}

.hero-loader {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  height: 50px;
  width: 50px;
  background-color: #fff;
  pointer-events: none;
  // opacity: 0;
  // @include transform(scale(0.9));
  // @include transition(opacity $font-load-transform-timing $spinCurve 0ms,
  //                     transform $font-load-scale-timing ease 0ms);
  // .hero__image img.lazyloading + & {
  //   opacity: 1;
  //   @include transform(scale(1));
  // }
}

.hero__text-wrap {
  position: absolute;
  top: 35%;
  left: 20px;
  right: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  @include media($phone-wide) {
    left: 10px;
    right: 10px;
  }
  @include media($phone) {
    bottom: 10vh;
  }
}

.hero__text {
  color: #fff;
  opacity: 0;
  @include transform(scale(1.04));
  @include transition(opacity $font-load-transform-timing $spinCurve 0ms,
                      transform $font-load-scale-timing cubic-bezier(0.19, 1, 0.22, 1) 0ms);
  .wf-active & {
    opacity: 1;
    @include transform(scale(1));
  }
  a {
    display: inline-block;
    // opacity: 0.75;
    // font-weight: 500;
    // text-transform: uppercase;
    // font-size: 0.875em;
    // @include font-smoothing;
    // letter-spacing: 0.25em;
    .no-touch &:hover {
      + h6 {
        opacity: 1;
      }
    }
  }
  h1 {
    font-size: 4em;
    margin-bottom: 0;
    padding: 0.5em 0;
    letter-spacing: 0.2em;
  }
  h6 {
    position: relative;
    top: -2em;
    transition: opacity 400ms ease;
    opacity: 0;
    pointer-events: none;
    span {
      position: relative;
      top: -0.1em;
    }
  }
  @include media($desktop-narrow) {
    h1 {
      font-size: 3.75em;
    }
  }
  @include media($tablet) {
    h1 {
      font-size: 3.25em;
    }
  }
  @include media($phone-wide) {
    h1 {
      font-size: 2.5em;
    }
  }
  @include media($phone) {
    h1 {
      font-size: 2em;
    }
  }
}

.hero__link {
  cursor: pointer;
}

.hero__down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  font-size: 60px;
  color: #fff;
  opacity: 0;
  @include transform(translateY(-10px));
  @include transition-property(opacity, transform);
  @include transition-duration(900ms);
  @include transition-timing-function(ease);
  @include transition-delay(3500ms);
  .lazyloaded & {
    opacity: 0.9;
    @include transform(translateY(0px));
  }
}