.index-post {
  @include font-loading(fade-up-in);
  text-align: center;
  margin-bottom: 4em;
  background-color: $base-bg-color;
  padding: 1em;
  border-radius: 1px;
  &:last-child {
    margin-bottom: 0;
  }
  @include media($phone) {
    padding: 6px;
    margin-bottom: 2px;
  }
}

.lazy-image {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  .image-thumb--blurred, > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  > img {
    @include lazyloaded;
  }
  .image-thumb--blurred {
    overflow: hidden;
    @include transform(scale(1.05));
    img {@include filter(blur(15px));}
  }
}

.index-post__image {
  border-radius: 2px;
  overflow: hidden;
  img {
    border-radius: 2px;
  }
}

.index-post__titles {
  margin: 1.6em 0 1em;
  a {
    color: $base-font-color;
  }
  h5 {
    margin-bottom: 0.4em;
  }
}