.index-post {
  @include font-loading(fade-up-in);
  text-align: center;
  margin-bottom: 4em;
  background-color: $base-bg-color;
  padding: 1em;
  border-radius: 1px;
  &:last-child {
    margin-bottom: 0;
  }
  @include media($phone) {
    padding: 6px;
    margin-bottom: 2px;
  }
}

.index-post__image {
  position: relative;
  // intrinsic ratio padding calculated and set in template
  // height: 0;
  border-radius: 2px;
  overflow: hidden;
  img {
    border-radius: 2px;
  }
  img:not(.image-thumb) {
    position: absolute;
    top: 0;
    left: 0;
    @include lazyloaded;
  }
  img.image-thumb {
    @include filter(blur(10px));
  }
}

.index-post__titles {
  margin: 1.6em 0 1em;
  a {
    color: $base-font-color;
  }
  h5 {
    margin-bottom: 0.4em;
  }
}