$content-border-width       : 12px;
$content-border-width-phone : 6px;

$header-height : 92px;

*, *:before, *:after {@include box-sizing(border-box);}

html {
  // overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: $alt-bg-color;
  &.page--index {
    background-color: $warm-gray;
  }
}

.container {
  @include outer-container;
  @include box-sizing(content-box);
  padding: 0 90px ;
  &.narrow {
    max-width: em(700);
  }
  &.top-narrow {
    max-width: em(800);
  }
  @include media($phone-wide) {
    padding: 0 75px;
  }
  @include media($phone) {
    padding: 0 $grid-padding-phone;
  }
}

.row {
  margin-bottom: 2em;
  &:last-child {margin-bottom: 0;}
}

.video-embed {
  position: relative;
  margin: 0 (-($grid-padding-desktop * 2));
  .video__inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include media($desktop-narrow) {
    margin: 0 (-($grid-padding-desktop));
  }
  @include media($tablet) {
    margin: 0 (-($grid-padding-tablet));
  }
  @include media($phone-wide) {
    margin: 0 (-($grid-padding-phone));
  }
}

// .loader {
//   position: fixed;
//   bottom: 50vh;
//   left: 0;
//   right: 0;
//   text-align: center;
//   line-height: 0;
//   z-index: -1;
//   transition: opacity 400ms ease 4000ms;
//   opacity: 0;
//   .wf-loading & {
//     opacity: 1;
//     transition: opacity 400ms ease 4000ms;
//   }
//   .wf-active & {
//     opacity: 0;
//     transition: opacity 200ms ease 0ms;
//   }
// }