$content-border-width       : 12px;
$content-border-width-phone : 6px;

$header-height : 90px;

*, *:before, *:after {@include box-sizing(border-box);}

body {
  background-color: $alt-bg-color;
  &.page--index {
    background-color: $warm-gray;
  }
}

.container {
  @include outer-container;
  @include box-sizing(content-box);
  padding: 0 $grid-padding-desktop;
  &.narrow {
    max-width: em(700);
  }
  &.top-narrow {
    max-width: em(800);
  }
  @include media($desktop-narrow) {
    // padding: 0 $nav-padding-desktop 0 (($nav-padding-desktop * 2) + $nav-logo-size-desktop);
    // padding: 0 (($nav-padding-desktop * 2) + $nav-logo-size-desktop);
    .article__cover & {padding: 0 $grid-padding-desktop;}
  }
  @include media($tablet) {
    padding: 0 $grid-padding-tablet;
  }
  @include media($phone) {
    padding: 0 $grid-padding-phone;
  }
}

.row {
  margin-bottom: 2em;
  &:last-child {margin-bottom: 0;}
}

.video-embed {
  position: relative;
  margin: 0 (-($grid-padding-desktop * 2));
  .video__inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include media($desktop-narrow) {
    margin: 0 (-($grid-padding-desktop));
  }
  @include media($tablet) {
    margin: 0 (-($grid-padding-tablet));
  }
  @include media($phone-wide) {
    margin: 0 (-($grid-padding-phone));
  }
}