$logo-width : 90px;

$nav-trigger-width        : 30px;
$nav-trigger-height       : 28px;
$nav-trigger-bar-height   : 2px;
$nav-bg-trigger-color     : $warm-gray;
$nav-trigger-spacing      : 8px;
$nav-trigger-padding      : 10px;

$nav-width : 280px;

$nav-fade-duration    : 400ms;

.top-logo {
  // @include font-loading('fade-in-fast');
  position: fixed;
  top: 16px;
  left: 50%;
  margin-left: -($logo-width / 2);
  width: $logo-width;
  z-index: 1;
  // mix-blend-mode: soft-light;
  svg {
    opacity: 0.75;
    width: 100%;
  }
  // .page--index & {
  //   .logo-path {
  //     fill: #fff;
  //   }
  // }
}

.nav-trigger {
  // @include font-loading('fade-in-fast');
  position: fixed;
  top: 21px;
  left: 32px;
  width: $nav-trigger-width + ($nav-trigger-padding * 2);
  height: $nav-trigger-width + ($nav-trigger-padding * 2);
  padding: $nav-trigger-padding;
  background-color: $alt-bg-color;
  border-radius: 100px;
  z-index: 20;
  transition: background 150ms;
  span {
    display: block;
    position: relative;
    top: 50%;
    margin-top: -1px;
    width: 100%;
    height: $nav-trigger-bar-height;
    background-color: $nav-bg-trigger-color;
    opacity: 0.7;
    transition: opacity 150ms;
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 40px;
      width: $nav-trigger-width;
      height: $nav-trigger-bar-height;
      background-color: $nav-bg-trigger-color;
    }
    &:before {
      bottom: $nav-trigger-spacing;
    }
    &:after {
      top: $nav-trigger-spacing;
    }
  }
  &:hover {
    span {
      opacity: 1 !important;
      transform: translate3d(0, 0, 0) !important;
    }
    svg {
      opacity: 0;
    }
  }
  .page--index & {
    background: none;
    span {
      // background-color: #fff;
      &:before, &:after {
        // background-color: #fff;
      }
    }
  }
}

.nav-trigger__logo {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 36px;
  height: auto;
  opacity: 0;
  // transform: translate3d(0, 5px, 0);
  svg {
    opacity: 0.7;
    width: 100%;
    transition: opacity 300ms ease;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $nav-width;
  padding-top: $content-border-width;
  padding-left: $content-border-width * 2;
  opacity: 0;
}