$logo-width        : 90px;
$logo-width-tablet : 70px;

$nav-trigger-width        : 28px;
$nav-trigger-height       : 28px;
$nav-trigger-bar-height   : 2px;
$nav-bg-trigger-color     : $warm-gray;
$nav-trigger-spacing      : 8px;
$nav-trigger-padding      : 10px;

$nav-width : 280px;

$nav-fade-duration    : 400ms;

.top-logo {
  // @include font-loading('fade-in-fast');
  position: fixed;
  left: 50vw;
  top: $logo-width / 6;
  margin-left: -($logo-width / 2);
  width: $logo-width;
  z-index: 1;
  // @include tap-highlight;
  // mix-blend-mode: soft-light;
  svg {
    opacity: 0.75;
    width: 100%;
  }
  @include media($phone-wide) {
    top: $logo-width-tablet / 5;
    margin-left: -($logo-width-tablet / 2);
    width: $logo-width-tablet;
  }
}

.nav-trigger {
  // @include font-loading('fade-in-fast');
  position: fixed;
  top: 19px;
  left: 32px;
  width: $nav-trigger-width + ($nav-trigger-padding * 2);
  height: $nav-trigger-width + ($nav-trigger-padding * 2);
  padding: $nav-trigger-padding;
  z-index: 20;
  transition: background 150ms;
  .trigger-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    opacity: 0;
  }
  .trigger-bars {
    position: relative;
    top: -1px;
    width: $nav-trigger-width;
    height: $nav-trigger-width;
    opacity: 0.7;
    transition: opacity 150ms;
  }
  .top-bar,
  .mid-bar,
  .bottom-bar {
    display: block;
    position: absolute;
    top: 50%;
    width: $nav-trigger-width;
    height: $nav-trigger-bar-height;
    background-color: $nav-bg-trigger-color;
  }
  .top-bar {
    transform: translateY(-$nav-trigger-spacing);
  }
  .bottom-bar {
    transform: translateY($nav-trigger-spacing);
  }
  &:hover {
    .trigger-bars {
      opacity: 1 !important;
    }
    svg {
      opacity: 0;
    }
  }
  &.nav--opened {
    .trigger-bars {
      opacity: 0.7 !important;
    }
    &:hover {
      .trigger-bars {
        opacity: 1 !important;
      }
    }
    svg {
      opacity: 0 !important;
    }
  }
  @include media($phone-wide) {
    left: 12px;
  }
  @include media($phone) {
    .trigger-bg {
      background-color: $alt-bg-color;
    }
  }
}

.nav-trigger__logo {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 36px;
  height: auto;
  opacity: 0;
  // transform: translate3d(0, 5px, 0);
  svg {
    opacity: 0.7;
    width: 100%;
    transition: opacity 300ms ease;
  }
}

.nav {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $nav-width;
  padding-top: $content-border-width;
  padding-left: 41px;
  padding-right: 10px;
  opacity: 0;
  display: none;
  @include media($phone-wide) {
    padding-left: 21px;
  }
  .button-back {
    .page--index & {
      display: none;
    }
  }
}

.nav__bio {
  margin-bottom: 1em;
  color: lighten($warm-gray, 15%);
  p {
    font-size: 0.75em;
    font-family: $base-font-family;
    a {
      transition: opacity 0.1s linear;
      font-weight: bold;
    }
    i {
      position: relative;
      top: 1px;
    }
  }
  @include media($tablet) {
    p {
      font-size: 0.875em;
    }
  }
}