.post-header {
  padding-top: 5em;
  padding-bottom: 5em;
  max-width: em(1000px);
  text-align: center;
}

.post-section {
  @include font-loading('fade-up-in', 218ms);
}

.post-title {
  text-align: center;
  max-width: em(700);
  margin: 4em auto 5em;
  padding-left: 6px;
  padding-right: 6px;
}

.post-title__text {
  position: relative;
  &:not(.no-line):before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: $base-font-color;
    opacity: 0.75;
    z-index: -1;
  }
  h6 {
    display: inline-block;
    padding: 0 em(10) 0 em(14);
    background-color: $base-bg-color;
  }
  @include media($phone-wide) {
    &:not(.no-line):before {
      top: 54%;
    }
  }
}

.post-text {
  box-sizing: content-box;
  max-width: em(600);
  margin: 2em auto 2.5em;
  padding: 0 em(50);
  &:last-child {margin-bottom: 0;}
  @include media($phone) {
    padding: 0 em(30);
  }
}

.post-gallery__item {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  max-width: em(700);
  margin: 0 auto 0.25em;
  img {
    background-color: $alt-bg-color;
  }
  // &.post-gallery__item--l,
  // &.post-gallery__item--r {
  //   @include span-columns(24 of 48);
  // }
  // &.post-gallery__item--r {
  //   margin-right: 0;
  // }
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
  }
  @include media($phone-wide) {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 6px;
  }
}

.post-gallery__item--pano {
  max-width: 100%;
  @include media($phone-wide) {
    padding-left: 0;
    padding-right: 0;
  }
}