.post-header {
  padding-top: 20vh;
  padding-bottom: 20vh;
  max-width: em(1000px);
  text-align: center;
}

.post-gallery {
  @include font-loading('fade-up-in', 218ms);
}

.post-gallery__items {
  // @include clearfix;
  // margin-left: auto;
  // margin-right: auto;
}

.post-gallery__item {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  max-width: em(700);
  margin: 0 auto 0.25em;
  img {
    background-color: $alt-bg-color;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.post-gallery__item--l,
  &.post-gallery__item--r {
    @include span-columns(24 of 48);
  }
  &.post-gallery__item--r {
    margin-right: 0;
  }
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
  }
  @include media($phone-wide) {
    padding-left: 72px;
    padding-right: 72px;
  }
  @include media($phone) {
    margin-bottom: 0.15em;
  }
}

.post-gallery__item--pano {
  max-width: 100%;
  @include media($phone-wide) {
    padding-left: 0;
    padding-right: 0;
  }
}