.post-header {
  padding-top: 5em;
  padding-bottom: 5em;
  max-width: em(1000px);
  text-align: center;
}

.post-section {
  @include font-loading('fade-up-in', 218ms);
}

.post-title {
  text-align: center;
  max-width: em(700);
  margin: 5em auto 2em;
  &:not(.wide) {
    padding-left: 6px;
    padding-right: 6px;
  }
  .post-text + & {
    margin-top: 4em;
  }
  .post-footer + & {
    margin-top: 2em;
    margin-bottom: 4em;
  }
}

.post-title--top {
  margin-bottom: 5em;
}

.post-title__text {
  position: relative;
  &:not(.no-line):before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: $base-font-color;
    opacity: 0.75;
    z-index: -1;
  }
  h6 {
    display: inline-block;
    padding: 0 em(10) 0 em(14);
    background-color: $base-bg-color;
  }
  @include media($phone-wide) {
    &:not(.no-line):before {
      top: 54%;
    }
  }
}

.post-text {
  position: relative;
  box-sizing: content-box;
  max-width: em(600);
  margin: 2em auto 2.5em;
  padding: 0 em(50);
  &:last-child {margin-bottom: 0;}
  .post-title + & {
    margin-top: 0;
  }
  // .post-text + &:before {
  //   content: "";
  //   position: absolute;
  //   top: -1em;
  //   left: 0;
  //   right: 0;
  //   height: 1px;
  //   background-color: $base-font-color;
  //   opacity: 0.5;
  // }
  .post-text + & {
    padding-top: 2em;
    border-top: 1px solid rgba($base-font-color, 0.2);
  }
  @include media($phone) {
    padding: 0 em(30);
  }
}

.post-notes {
  padding-top: 4em;
  padding-bottom: 2em;
  max-width: em(500);
  text-align: center;
}

.post-gallery {
  .post-title + & {
    margin-top: 4em;
  }
}

.post-gallery__item {
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  max-width: em(700);
  margin: 0 auto 0.25em;
  img {
    background-color: $alt-bg-color;
  }
  // &.post-gallery__item--l,
  // &.post-gallery__item--r {
  //   @include span-columns(24 of 48);
  // }
  // &.post-gallery__item--r {
  //   margin-right: 0;
  // }
  a {
    cursor: zoom-in;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
  }
  @include media($phone-wide) {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 6px;
  }
}

.post-gallery__item--pano {
  max-width: 100%;
  @include media($phone-wide) {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-loader {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: $soleil;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.25em;
  font-size: 0.85em;
  pointer-events: none;
  opacity: 0;
  @include transition(opacity 400ms ease 0ms);
  .lazyloading + & {
    opacity: 1;
    @include transition(opacity 400ms ease 1500ms);
  }
}

.related-posts-title,
.related-posts {
  max-width: inherit;
  padding-left: 1em;
  padding-right: 1em;
}

.related-posts {
  @include clearfix;
  @include media($desktop-narrow-only) {
    max-width: em(500);
  }
}