$waffle-padding       : 4px;
$waffle-square-height : ($waffle-padding * 2) / 3;

.loader {
  @include position(absolute, 0 0 0 0);
  // animate
  opacity: 0;
  // @include transform(scale(1.05) translateZ(0));
  // @include transition(opacity 400ms, transform 500ms);
  .loader--loaded & {
    opacity: 1;
    // @include transform(scale(1) translateZ(0));
  }
}

.loader__bg {
  @include position(absolute, 0 16% 0 18%);
  background-color: $warm-gray;
  .loader__bg--inner {
    background-color: lighten($warm-gray, 50%);
    @include position(absolute, 0 0 0 0);
    @include transition(transform 100ms);
  }
}

.loader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%) scale(8));
}

.waffle {
  @include clearfix;
  width: 100vw;
  height: 100vh;
  padding: $waffle-padding;
}

.waffle__square {
  position: relative;
  float: left;
  width: 33.3333%;
  height: calc(33.3333vh - #{$waffle-square-height});
  padding: $waffle-padding;
  // animate
  opacity: 0;
  .intro--done & {
    @include transition(transform 400ms);
  }
  .intro--done &:hover {
    @include transform(scale(1.025) translateZ(0) !important);
  }
}

.square {
  display: block;
  @include position(absolute, 4px 4px 4px 4px);
}

.square-blank {
  background-color: $off-gray;
}

.square__thumb {
  @include position(absolute, 0 0 0 0);
  @include background-cover;
  img {visibility: hidden;}
  @include transition(transform 60ms);
  a:active & {
    @include transform(scale(0.975) translateZ(0));
  }
}