
{% extends "templates/partials/base.html" %}
{% block body_attributes %}{% parent %} page--index{% endblock %}

{% block head_extra %}
{% endblock %}

{% block content %}

  <style>
    .index-post__image {
      background-color: {{ feature.bg_color }};
    }
  </style>

  <section class="index-posts">

    {% for post in posts %}

      {# {% set image_ratio = post.feature_image.height / post.feature_image.width * 100 %} #}

      <div class="index-post lazyload">
        <a href="{{ url(post) }}">
          <div class="index-post__image" style="padding-bottom: {{ image_ratio }}%">
            <img class="image-thumb" src="{{ post.feature_image|imageSize(20, 'auto') }}">
            <img class="lazyload"
                 data-src="{{ post.feature_image|imageSize(572, 'auto') }}"
                 data-srcset="{{ post.feature_image|imageSize(320, 'auto') }} 320w,
                         {{ post.feature_image|imageSize(572, 'auto') }} 572w,
                         {{ post.feature_image|imageSize(1144, 'auto') }} 1144w"
                 data-sizes="auto"
            />
          </div>
          <div class="index-post__titles">
            <h5>
              {% if post.custom_title %}
                {{ post.custom_title }}
              {% else %}
                {{ post.name }}
              {% endif %}
            </h5>
            <h6><small>{{ post.date|date('M Y') }}</small></h6>
          </div>
        </a>
      </div>

    {% endfor %}

  </section>

{% endblock %}

{% block footer %}
  <div class="index-footer">
    {% include "templates/partials/footer.html" %}
  </div>
{% endblock %}