
{% extends "templates/partials/base.html" %}
{% block body_attributes %}{% parent %} page--index{% endblock %}

{% block head_extra %}
{% endblock %}

{% block hero %}

  <style>
    body.page--index {
      background-color: {{ feature.bg_color }};
    }
    .logo-path {
      fill: {{ feature.accent_color }};
    }
    .nav-trigger {
      background-color: {{ feature.bg_color }};
    }
    .nav-trigger span {
      background-color: {{ feature.accent_color }};
    }
    body.page--index .nav-trigger:hover {
      background-color: {{ feature.bg_color }};
    }
    .nav-trigger__logo .logo-path {
      fill: {{ feature.accent_color }};
    }
    .nav-trigger span:before,
    .nav-trigger span:after {
      background-color: {{ feature.accent_color }};
    }
    /*.index-post:after {
      background-color: {{ feature.bg_color }};
    }*/
  </style>
  {% if feature.link_color == 'BG Color' %}
    <style>
      .hero__link a {
        color: {{ feature.bg_color }};
      }
    </style>
  {% elseif feature.link_color == 'White' %}
    <style>
      .hero__link a {
        color: rgba(255,255,255,0.75);
      }
    </style>
  {% elseif feature.link_color == 'Black' %}
    <style>
      .hero__link a {
        color: rgba(0,0,0,0.75);
      }
    </style>
  {% else %}
    <style>
      .hero__link a {
        color: {{ feature.accent_color }};
      }
    </style>
  {% endif %}

  <div class="hero" id="hero">
    <div class="hero__image-wrap" id="hero_image_wrap">
      <div class="hero__image" id="hero_image" style="background-image: url({{ feature.feature_image|imageSize(2560, 'auto') }});">
        {# <img src="{{ feature.feature_image|imageSize(1014, 'auto') }}" alt=""> #}
      </div>
    </div>
    <div class="hero__link-wrap" id="hero_link_wrap">
      <div class="hero__link link-arrows" id="hero_link">
        <a href="{{ url(feature) }}">{{ feature.name }}</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <section class="index-posts">

    {% for post in posts %}

      <div class="index-post">
        <div class="index-post__image">
          <a href="{{ url(post) }}">
            <img src="{{ post.feature_image|imageSize(572, 'auto') }}"
                 srcset="{{ post.feature_image|imageSize(320, 'auto') }} 320w,
                         {{ post.feature_image|imageSize(572, 'auto') }} 572w,
                         {{ post.feature_image|imageSize(1144, 'auto') }} 1144w"
                 sizes="(max-width: 800px) 72vw,
                        572px"
                 itemprop="thumbnail"
            />
          </a>
        </div>
        <div class="index-post__title">
          <h5><a href="{{ url(post) }}">{{ post.name }}</a></h5>
        </div>
      </div>

    {% endfor %}

  </section>

{% endblock %}