
{% extends "templates/partials/base.html" %}
{% block body_attributes %}{% parent %} page--index{% endblock %}

{% block head_extra %}
{% endblock %}

{% block hero %}

  <style>
    body.page--index {
      background-color: {{ feature.bg_color }};
    }
    .logo-path {
      fill: {{ feature.accent_color }};
    }
    .trigger-bg {
      background-color: {{ feature.bg_color }};
    }
    .trigger-bars .top-bar,
    .trigger-bars .mid-bar,
    .trigger-bars .bottom-bar {
      background-color: {{ feature.accent_color }};
    }
    /*body.page--index .nav-trigger:hover {
      background-color: {{ feature.bg_color }};
    }*/
    .nav-trigger__logo .logo-path {
      fill: {{ feature.accent_color }};
    }
    .hero__image {
      background-image: url({{ feature.feature_image|imageSize(1280, 'auto') }});
      background-image: -webkit-image-set(url({{ feature.feature_image|imageSize(1280, 'auto') }}) 1x,
                                          url({{ feature.feature_image|imageSize(2560, 'auto') }}) 2x);
      background-image: image-set(url({{ feature.feature_image|imageSize(1280, 'auto') }}) 1x,
                                  url({{ feature.feature_image|imageSize(2560, 'auto') }}) 2x);
    }
    .nav__bio {
      color: {{ feature.accent_color }};
    }
    .nav__bio a {
      color: {{ feature.accent_color }};
      opacity: 0.6;
    }
    .nav__bio a:hover {
      color: {{ feature.accent_color }};
      opacity: 0.85;
    }
    .nav .button {
      color: {{ feature.accent_color }};
    }
    /*.index-post:after {
      background-color: {{ feature.bg_color }};
    }*/
  </style>
  {% if feature.link_color == 'BG Color' %}
    <style>
      .hero__link a {
        color: {{ feature.bg_color }};
      }
    </style>
  {% elseif feature.link_color == 'White' %}
    <style>
      .hero__link a {
        color: rgba(255,255,255,0.75);
      }
    </style>
  {% elseif feature.link_color == 'Black' %}
    <style>
      .hero__link a {
        color: rgba(0,0,0,0.75);
      }
    </style>
  {% else %}
    <style>
      .hero__link a {
        color: {{ feature.accent_color }};
      }
    </style>
  {% endif %}

  <div class="hero" id="hero">
    <div class="hero__image-wrap" id="hero_image_wrap">
      <div class="hero__image-nav-wrap" id="hero_nav_wrap">
        <div class="hero__image" id="hero_image">
          {# <img src="{{ feature.feature_image|imageSize(1014, 'auto') }}" alt=""> #}
        </div>
      </div>
    </div>
    <div class="hero__link-wrap" id="hero_link_wrap">
      <div class="hero__link link-arrows" id="hero_link">
        <a href="{{ url(feature) }}">{{ feature.name }}</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <section class="index-posts">

    {% for post in posts %}

      <div class="index-post">
        <a href="{{ url(post) }}">
          <div class="index-post__image">
            <img src="{{ post.feature_image|imageSize(572, 'auto') }}"
                 srcset="{{ post.feature_image|imageSize(320, 'auto') }} 320w,
                         {{ post.feature_image|imageSize(572, 'auto') }} 572w,
                         {{ post.feature_image|imageSize(1144, 'auto') }} 1144w"
                 sizes="(max-width: 800px) 72vw,
                        572px"
                 itemprop="thumbnail"
            />
          </div>
          <div class="index-post__titles">
            <h5>{{ post.name }}</h5>
            <h6><small>{{ post.date|date('M Y') }}</small></h6>
          </div>
        </a>
      </div>

    {% endfor %}

  </section>

{% endblock %}